.alert {
  z-index: 9999;
  width: fit-content;
  left: 0;
  right: 0;
  display: flex;
  margin: 4vh auto 0;
  justify-content: center;
  font-family: monospace;

  animation-name: alertIn;
  animation-duration: 0.5s;
  user-select: none;
}

.alert-out {
  animation-name: alertOut;
  animation-duration: 0.5s;
}

@keyframes alertIn {
  from {
    margin-top: 0;
    opacity: 0;
  }
  to {
    margin-top: 4vh;
    opacity: 1;
  }
}

@keyframes alertOut {
  from {
    margin-top: 4vh;
    opacity: 1;
  }
  to {
    margin-top: 6vh;
    opacity: 0;
  }
}